/*
* @Author: Jobayer Mojumder
* @Date:   2018-08-30 16:07:22
* @Last Modified by:   jobayermojumder
* @Last Modified time: 2018-09-10 22:53:19
*/
.content{
	padding: 10px;
}
.table{
	font-size: 13px;
}
.pagination{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.alert{
	border-radius: 20px;
}

.alert-dismissable .close, .alert-dismissible .close {
	right: 0px;
}
.form-horizontal .form-group{
	margin-left: 15px;
	margin-right: 15px;
}

.image-emp{
	padding: 10px;
}

.thumb{
	width: 25px;
	height: 25px;
}
.box-profile{
	padding: 15px;
}

.alert-success {
    color: #28623c;
    background-color: #dbf2e3;
    border-color: #cdedd8;
}
.alert-danger {
    color: #813838;
    background-color: #fee2e1;
    border-color: #fdd6d6;
}
.add-button{
	margin: 10px;
    text-align: right;
}